<md-toolbar>
  <div class="md-toolbar-tools">
    Material for Angular 2
  </div>
</md-toolbar>

<div class="demo-content">
  <h4>Button Showcase</h4>
  <div class="button-showcase">
    <md-button>Flat Button</md-button>
    <md-button class="md-raised">Raised Button</md-button>
    <md-button class="md-primary md-raised">Primary Button</md-button>
    <md-button class="md-accent md-raised">Accent Button</md-button>
    <md-button class="md-warn md-raised">Warn Button</md-button>
  </div>

  <h4>Switch Showcase</h4>
  <div class="switch-showcase">
    <md-switch [(ngModel)]="isSwitchChecked">Default Accent Switch</md-switch>
    <md-switch [(ngModel)]="isSwitchChecked" class="md-primary">Primary Switch</md-switch>
    <md-switch [(ngModel)]="isSwitchChecked" class="md-warn">Warn Switch</md-switch>
  </div>
</div>

